/* universal selector */
* {
    border: 1px solid red;
}

/* type selectors */
p {
    color: green;
}

h1 {
    color: maroon;
}

/* class selectors */
.title {
    color: teal;
}

.uppercase {
    text-transform: uppercase;
}

/* id selectors */
#article-title {
    font-family: cursive;
}

/* attribute selectors */
a[href*='florence'] {
    color: lightgreen;
}

a[href*='beijing'] {
    color: lightblue;
}

a[href*='seoul'] {
    color: lightpink;
}

/* pseudo-classes */
a:hover {
    color: darkorange;
}

/* class selector 
(classes are intended to be used across multiple elements)*/
.heading-background {
    background-color: aqua;
}

/* id selector (id's are intended to style one element, 
and as such they override class and type elements) */
#publish-time {
    color: gray;
}

/* type selector will give way to author-class which gives way to id */
h5 {
    color: yellow;
}

.author-class {
    color: pink;
}

#author-id {
    color: cornflowerblue;
}

/* chaining */
h2.destination {
    font-family: Tahoma;
}

/* descendant combinator*/
.description h5 {
    color: blueviolet;
}

/* child combinator, affects all <h4> tags that are enclosed by <li> tags */
li h4 {
    color: gold;
}

/* type selector for h4 does not change color because the combinator 'li h4' is more specific */
h4 {
    color: dodgerblue;
}

/* multiple selectors */
li,
h5 {
  font-family: monospace;
}